<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - iranAttractions</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    @RenderSection("mainPage", required: false) 
    @RenderSection("Styles", required: false)  

    <style>
        .navbar {
            display: flex;
            position: fixed;
            top:0;
            justify-content: center;
            background-color: #daa38f;
            height: 60px; /* ارتفاع مشخص */
            width: 100%; /* عرض کامل */
            padding: 10px 20px;
            align-items: center;
            z-index: 1000;
        }

            .navbar ul {
                list-style-type: none;
                padding: 0;
                margin-top: 10px;
                position: fixed;
                display: flex;
            }

            .navbar li {
                display: block;
                margin-left: 20px;
                float: left;
                padding: 25px;
            }

            .navbar a {
                color: #000000;
                text-decoration: none;
                transition: 1s;
            }

        ul li a:hover {
            font: bold;
            font-size: 20px;
            box-shadow: 2px 5px 30px rgba(0,0,0,.1);
            color: black;
        }

        .logo {
            width: 80px;
            height: 50px;
            margin-right: 20px;
            align-self: center;
        }


        .header-content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>


</head>
<body>
    
        <nav class="navbar" >
            <ul>
                <li><img src="~/img/33.jpg" alt="Logo" class="logo"></li>
                <li><a href="contact.html">تماس با ما</a></li>
                <li><a href="blog.html">بلاگ</a></li>
                <li><a href="gallery.html">گالری</a></li>
                <li><a href="home.html">خانه</a></li>
                <li><a href="login.html">ورود/ثبت نام</a></li>
            </ul>
        </nav>

        @RenderSection("header", required: false)
   
    
        
        @RenderBody()
        
    

    <footer class="border-top footer text-muted">
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/js/distination.js" defer></script>
    <script src="~/js/comment-slider.js"></script>
    <script src="~/js/like.js"></script>
    <script src="~/js/Upload-box.js"></script>
    <script src="~/js/insert-profile.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
