
 @using static Microsoft.EntityFrameworkCore.DbLoggerCategory
@model iranAttractions.ViewModels.SightseeingViewModel
@section Styles {
    <link rel="stylesheet" href="~/css/distination.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/blogs/blog-5/assets/css/blog-5.css">
   
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet" />
}


<div class="main-slider">
    <div class="main-slide active">
        @{
            string srces = "~/img/" + Model.sightseeing.parts[0].PicUrl;
            var imgUrle = Url.Content(srces);
        }
        <img src="@imgUrle" alt="Image 1">
        <div class="main-caption">
            <h1>@Model.sightseeing.parts[0].Title</h1>
            <p>  @Model.sightseeing.parts[0].Description   </p>
        </div>
    </div>
    @for(int i=1;i<Model.sightseeing.parts.Count;i++)
    {
        string srce = "~/img/" + Model.sightseeing.parts[i].PicUrl;
        var imgUrl = Url.Content(srce);
        <div class="main-slide">
            <img src="@imgUrl" alt="Image 2">
            <div class="main-caption">
                <h1>@Model.sightseeing.parts[i].Title</h1>
                <p> @Model.sightseeing.parts[i].Description</p>
            </div>
        </div>
    }
   
  
    <div class="navigation">
        <button class="prev" onclick="prevSlide()">&#10094;</button>
        <button class="next" onclick="nextSlide()">&#10095;</button>
    </div>
</div>

<div class="main">

        

    <div class="navbar2 d-flex justify-content-center align-items-center">
        <div class="w-50 d-flex justify-content-center align-items-center">
            <a href="#restaurants">رستوران‌ها</a>
            <a href="#hotels">هتل‌ها</a>
            <a href="#gallery">گالری</a>
            <a href="#reviews">نظرات</a>
        </div>

    </div>





    <section id="resturants">
        <section class="bsb-blog-5 py-3 py-md-5 py-xl-8">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                        <h2 class="display-5 mb-4 mb-md-5 text-center">نزدیک ترین رستوران‌ها به این جاذبه</h2>
                        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
                    </div>
                </div>
            </div>
            <div class="container overflow-hidden">
                <div class="row gy-4 gy-md-5 gx-xl-6 gy-xl-6 gx-xxl-9 gy-xxl-9" id="resturant-list">
                     @for(int i =0 ; i<Model.Res_Dis.Count;i++)
                    {
                        var resturant = Model.Res_Dis[i];
                        var additionalClass = i >= 3 ? ".additional-resturants" : "";
                        <div class="col-12 col-lg-4 @additionalClass">
                        <article>
                            <div class="card border-0 bg-transparent ">

                                <figure class="card-img-top mb-4 overflow-hidden bsb-overlay-hover">
                                    <a href="#!">
                                        <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="/img/alighapo.jpg" alt="Living">
                                    </a>
                                    <figcaption>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                                            <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                            <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                        </svg>
                                        <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">راه ارتباطی: @resturant.resturant.CommunicationRel</h4>
                                        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="fas fa-phone text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                                        <path d="M3.654 1.328a.678.678 0 0 1 .738-.18l2.522 1.008c.193.077.326.24.362.44l.483 2.843a.678.678 0 0 1-.203.592l-1.004 1.004c.453.786 1.016 1.511 1.689 2.184.673.673 1.398 1.236 2.184 1.689l1.004-1.004a.678.678 0 0 1 .592-.203l2.843.483c.2.036.363.169.44.362l1.008 2.522a.678.678 0 0 1-.18.738l-2.307 2.307a1.745 1.745 0 0 1-1.747.451c-2.014-.716-3.967-2.05-5.787-3.87-1.82-1.82-3.154-3.773-3.87-5.787a1.745 1.745 0 0 1 .451-1.747L3.654 1.328z" />
                                        </svg>
                                            <h5 class="h6 text-white bsb-hover-fadeInRight mt-2">  @resturant.resturant.PhoneNumber:شماره تماس</h5>
                                    </figcaption>
                                </figure>
                                <div class="card-body m-0 p-0">
                                    <div class="entry-header mb-3">
                                        <h2 class="card-title entry-title h4 m-0">
                                            <a class="link-dark text-decoration-none" href="#!">@resturant.resturant.Name</a>
                                        </h2>
                                    </div>
                                </div>
                                <div class="card-footer border-0 bg-transparent p-0 m-0">
                                        <ul class="entry-meta list-unstyled m-0">
                                        <li class="mb-2">
                                                
                                            <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center" href="#!">
                                                <i class="fas fa-route"></i>
                                                    @if (resturant.distance < 1)
                                                    {
                                                        double dis = resturant.distance * 1000;
                                                        <span class="ms-2 fs-7"> فاصله:@dis متر</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="ms-2 fs-7"> فاصله:@resturant.distance کیلومتر</span>
                                                    }
                                                
                                            </a>
                                        </li>
                                            <li>
                                                <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center" href="#!">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    <span class="ms-2 fs-7">  آدرس : @resturant.resturant.address</span>
                                                </a>
                                            </li>
                                       
                                       
                                    </ul>
                                </div>
                            </div>
                        </article>
                    </div>
                    
                    }
                </div>
            </div>
            
                <div class="container">
                    <div class="row">
                        <div class="col text-center">
                            <button id="load-more-resturant" class="btn bsb-btn-2xl btn-primary rounded-pill mt-5 mt-xl-10" data-expanded="false">نمایش بیشتر</button>
                        </div>
                    </div>
                </div>
        </section>
    </section>




    <section id="hotels">
        <section class="bsb-blog-5 py-3 py-md-5 py-xl-8">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="col-12 col-md-10 col-lg-8 col-xl-7 col-xxl-6">
                        <h2 class="display-5 mb-4 mb-md-5 text-center">نزدیک ترین هتل ها به این جاذبه</h2>
                        <hr class="w-50 mx-auto mb-5 mb-xl-9 border-dark-subtle">
                    </div>
                </div>
            </div>
            <div class="container overflow-hidden">
                <div class="row gy-4 gy-md-5 gx-xl-6 gy-xl-6 gx-xxl-9 gy-xxl-9" id="hotel-list">
                    @for(int i =0 ; i<Model.Hot_Dis.Count;i++)
                    {
                        var hotel = Model.Hot_Dis[i]; 
                        var additionalClass = i >= 3 ? "additional-hotel" : "";

                        <div class="col-12 col-lg-4 @additionalClass">
                            <article>
                                <div class="card border-0 bg-transparent">
                                    <figure class="card-img-top mb-4 overflow-hidden bsb-overlay-hover">
                                            @{
                                                string src = Url.Content("~/img/Hotels/" + hotel.Hotel.Id.ToString() + ".jpg");
                                            }
                                        <a href="#!">
                                            <img class="img-fluid bsb-scale bsb-hover-scale-up" loading="lazy" src="@src" alt="Living">
                                        </a>
                                        <figcaption>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-eye text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                                            </svg>
                                            <h4 class="h6 text-white bsb-hover-fadeInRight mt-2">راه ارتباطی: @hotel.Hotel.CommunicationRel</h4>
                                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="fas fa-phone text-white bsb-hover-fadeInLeft" viewBox="0 0 16 16">
                                                <path d="M3.654 1.328a.678.678 0 0 1 .738-.18l2.522 1.008c.193.077.326.24.362.44l.483 2.843a.678.678 0 0 1-.203.592l-1.004 1.004c.453.786 1.016 1.511 1.689 2.184.673.673 1.398 1.236 2.184 1.689l1.004-1.004a.678.678 0 0 1 .592-.203l2.843.483c.2.036.363.169.44.362l1.008 2.522a.678.678 0 0 1-.18.738l-2.307 2.307a1.745 1.745 0 0 1-1.747.451c-2.014-.716-3.967-2.05-5.787-3.87-1.82-1.82-3.154-3.773-3.87-5.787a1.745 1.745 0 0 1 .451-1.747L3.654 1.328z" />
                                            </svg>
                                            <h5 class="h6 text-white bsb-hover-fadeInRight mt-2">: @hotel.Hotel.PhoneNumber شماره تماس</h5>
                                        </figcaption>
                                    </figure>
                                    <div class="card-body m-0 p-0">
                                        <div class="entry-header mb-3">
                                            <h2 class="card-title entry-title h4 m-0">
                                                <a class="link-dark text-decoration-none" href="#!">@hotel.Hotel.Name  </a>
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="card-footer border-0 bg-transparent p-0 m-0">
                                        <ul class="entry-meta list-unstyled m-0">
                                            <li class="mb-2">
                                                <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center" href="#!">
                                                    <i class="fas fa-route"></i>
                                                    @if (hotel.distance < 1)
                                                    {
                                                        double dis = hotel.distance * 1000;
                                                        <span class="ms-2 fs-7"> فاصله: @dis متر </span>
                                                    }
                                                    else
                                                    {
                                                        <span class="ms-2 fs-7"> فاصله: @hotel.distance کیلومتر</span>
                                                    }
                                                </a>
                                            </li>
                                            <li>
                                                <a class="fs-7 link-secondary text-decoration-none d-flex align-items-center" href="#!">
                                                    <i class="fas fa-map-marker-alt"></i>
                                                    <span class="ms-2 fs-7">آدرس : @hotel.Hotel.address</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </article>
                        </div>
                    
                    }
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <button id="load-more-hotel" class="btn bsb-btn-2xl btn-primary rounded-pill mt-5 mt-xl-10" data-expanded="false">نمایش بیشتر</button>
                    </div>
                </div>
            </div>
        </section>
    </section>




    <section id="gallery">
        <h2>گالری</h2>
        <div class="container">
            @if (Model.Pictures != null)
            {
                    @for (var i = 0; i < Model.Pictures.Count; i++)
                    {
                        var pic = Model.Pictures[i];
                        string src = "~/uploads/" + pic.FilePath;
                        var imgUrl = Url.Content(src);

                   

                   
                  
                    

                    <div class="gallery-item" data-picture-id=@pic.Id> 
                        <img src="@imgUrl" class="gallery-img" /> 
                        <div class="like-button" data-liked="false">
                            <svg viewBox="0 0 24 24">
                                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" />
                            </svg>
                            <span class="like-count">@pic.likecounts</span>
                        </div> 
                    </div>
                        
                }

            }
            else
            {
                <p>تصویری برای نمایش وجود ندارد!</p>
            }
           
           
        </div>
        <br><br>
        <form asp-action="AddPicture" method="post" enctype="multipart/form-data">
            <input type="hidden" name="Id" value="@Model.sightseeing.Id" />
            <div class="upload-section">
                <h3>آپلود عکس شما</h3>
                <label for="imageUpload">انتخاب فایل</label>
                <input name="Picture" type="file" id="imageUpload">
                <div class="image-preview"></div>
                <button type="submit" id="uploadButton">آپلود</button>
            </div>
        </form>
       
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLablel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header d-flex align-items-center justify-content-between">
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" style="margin-left: auto;"></button>
                        <h5 class="modal-title" id="exampleModalLabel"> ثبت نام کرده اید؟</h5>
                    </div>
                    <div class="modal-body">لطفا ابتدا ثبت نام کنید!🙂</div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">ثبت نام</button>
                    </div>
                </div>
            </div>
        </div>
       
    </section>


        
        <section id="reviews">
            <h2>نظرات کاربران</h2>
            <!--<div>
              <p>تصویری برای نمایش وجود ندارد!</p>
            </div>-->
            <div class="comment-slider">
                <div class="slider-comments">
                    @{
                        int comments_count = Model.Comments.Count;
                        int l = 0;
                        int label = comments_count / 3 + 1;
                    }
                    @for(int i=0; i<label;i++)
                    {
                        <div class="com-slide">
                            <div class="comments">
                                @for(int j=0;j<3;j++)
                                {
                                    @if(l<comments_count)
                                    {
                                        <div class="comment-box">
                                            <span class="comment-name">@Model.Comments[l].Users.UserName</span>
                                            <div class="comment-text">
                                                @Model.Comments[l].Description;
                                            </div>
                                            <img class="comment-image" src=@Model.Comments[l].picurl alt="">
                                            
                                        </div>
                                        l += 1;
                                    }
                                   
                                    else
                                    {
                                        break;
                                    }

                                }   
                            </div>

                        </div>  
                    }
                   
                
                </div>
                <button id="prevBtn">&#10094;</button>
                <button id="nextBtn">&#10095;</button>
            </div>
            <section id="add-comment-section">
              <h3>ارسال نظر</h3>
                <form id="form_submition" asp-action="AddComment" asp-controller="Attraction" method="post">
                    <input type="hidden" name="SightseeingId" value="@Model.sightseeing.Id" />
                    <input  id="selected-image" type="hidden" name="picurl" />

                    <div class="comment-form">
                        <textarea id="comment-input" name="Description" placeholder="نظر خود را وارد کنید"></textarea>
                        <button type="submit" id="submit-btn">ارسال</button>
                    </div>                
                </form>
               
              <div class="profile-selection">
                <h4>انتخاب تصویر پروفایل</h4>
                <div class="profile-images">
                  <img src="~/img/profile.png" alt="Profile 1" class="profile-option" onclick="selectProfile(this)">
                  <img src="~/img/profile1.png" alt="Profile 2" class="profile-option" onclick="selectProfile(this)">
                  <img src="~/img/profile2.png" alt="Profile 3" class="profile-option" onclick="selectProfile(this)">
                </div>
                <div id="selected-profile">
                  <span>تصویر انتخابی شما:</span>
                  <img id="selected-profile-image" src="img/profile1.png" alt="Selected Profile">
                </div>
              </div>
            </section>
           
        </section>
    </div>





