@model iranAttractions.ViewModels.MainViewModel

@section mainPage {
    <link rel="stylesheet" href="~/css/Site.css" asp-append-version="true" />
}
@{
    ViewData["Title"] = "DisplayBoxes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section header{
    

        

        <div class="header-content">
            <h1 class="site-title">SAFAّRO&nbsp;</h1>
            <p class="site-tagline"> "هر مقصد یک داستان ، هر سفر یک خاطره"</p>
            <form asp-action="SearchResultCity" asp-controller="Home" method="post">
                <input type="text" class="search-box" name="query" placeholder="جستجو">
                <input type="submit" value="بزن بریم">
            </form>
        </div>
  
}


<body>
    
    <article class="site-content">

        <!-- دیو استان‌ها -->
        <div class="divprovince  ">
 
            @for (int i = 0; i < 3; i++)
            {
                var city = Model.Cities[i];

                <div class="gallery-container1  ">
                    <a type="button" class="pic-link" asp-action="DisplayProvince" asp-controller="Province" asp-route-ItemId="@city.Id">
                        <img class="gallery" src="~/img/City@(city.Id).jpg" alt="تصویری یافت نشد">
                        <button class="pic-button">@city.Name</button>

                    </a>
                    <p class="pic-text">@city.AttractionCount جاذبه</p>
                </div>
            }

            <div class="description-container"> <h3>ایران سرزمین ماندگار</h3>
                <p><big> اگر هنوز مقصد شما برای تعطیلات مشخص نیست نگران نباشید لیستی از استان های ایران را اینجا میتئانید ببینید . با کلیک روی هر کدام جاذبه ای آن استانوهتل ها و رستئران های آن را شاهده میکنید و بهتر میتوانید تصمیم بگیرید به کدام شهر سفر کنید   <big></p>
            </div>

        </div>
        <!-- دیو جاذبه‌ها -->
        <div class="divattraction">
            <div class="description-container"> <h3>جاذبه گرد</h3> <p>اگر مقصد شما بری سفر به یکی از استان های ایران جان مشخص شده ولی هنوز نمیدانید برای برنامه سفر خود به کدام جاذبه یا مکان تفریحی آن استان سفر کنید نگران نباسنبشاید <br/> ما برای هر جاذبه آن استان یک پک راهنمای کامل در اختیارتان قرار داده ایم تا همسفر شما در راه باشد .</p> </div>

            @for (int i = 0; i < 3; i++)
            {
                var sightseeing = Model.sightseeings[i];
                <div class="gallery-container2">
                    <a type="button" class="pic-link" asp-action="DisplayInfoes" asp-controller="Attraction" asp-route-ItemId="@sightseeing.Id">
                        <img class="gallery" src="~/img/Sight@(sightseeing.Id).jpg" alt="تصویری یافت نشد">
                        <button class="pic-button">@sightseeing.City.Name</button>

                    </a>
                    <p class="pic-text">@sightseeing.Name</p>
                </div>
            }
        </div>

    </article>

</body>
